.container
  %div.admin-navi.round
    %span.admin-link= link_to I18n.t('admin.customers'),    customers_path
    %span.admin-link= link_to I18n.t('admin.projects'),     projects_path
    %span.admin-link= link_to I18n.t('admin.project_new'),  new_project_path