%h2= "ToDo List #{I18n.t 'pages.home'}"
%ul
  %li Add Unit Controller and Views
  %li Add hstore for Status
  %li
    Allow to deactivate:
    %ul
      %li Customers
      %li Products
      %li Units
  %li
    Forbid to delete:
    %ul
      %li Customers
      %li Products
      %li Units
  %li
    Forbid to edit:
    %ul
      %li Project customer
      %li Product key, unit
      %li Unit key
  %li Add Authorization and Authentication mechanisms for Teams with Admins
  %li
    Create Admin View
    %ul
      %li To activate / deactivate Customers, Products, Units
      %li To add + edit Products, Units
      %li To add + edit Statuses
      %li To invite new Team Members
      %li To deactivate Team Members
      %li To grant Admin status to Team Members
  %li Add pagination and endless scrolling
  %li Add Sorting and Filtering to all the Lists
  %li
    Add Quotes and Invoices
    %ul
      %li Enable Admin to enter company data
      %li Enable team members to enter personal data
      %li Enable Admin to enter customer data
      %li Export Quotes and Invoices to PDF
  %li Add Design
  %li
    I18n everything to english and deutsch
    %ul
      %li ... and español
      %li Enable Quotes and Invoices in all the languages, also for Unit-Names!
  %li Go Live
