body { 
  padding-top: 60px;
}

img {
  border: 0;
}

td, th {
  padding: 0 30px 3px 0;
}

a {
  color: $link_color;
}

.admin-navi {
  background: $admin_back;
  border: dotted 2px;
  clear: both;
  height: 2em;
  padding: 0.4em 0 0 0.4em;
}

.admin-link a {
  color: $color_navigation_link;
  float: left;
  font-weight: bold;
  padding-right: 3em;
}

.alert {
  background-color: $color_background_alert;
}

.clearer {
  clear: both;
}

.flash {
  font-size: 1.2em;
  width: 60%;
  height: 2em;
  border: 0.25em;
  padding: 0.65em;
  padding-bottom: 0;
}

.main {
  padding-top: 2em;
}

.notice {
  background-color: $color_background_notice;
}

.font-l {
  font-size: 2em;
}

.font-xl {
  font-size: 3.5em;
  font-weight: bold;
}

.footer {
  clear: both;
  padding-top: 6em;
  padding-bottom: 3em;
  text-align: center;
}

.footer-link a {
  color: $color_navigation_link;
  float: left;
  padding-right: 3em;
}

.nav-head {
  font-size: 1.2em;
  margin-right: 0.4em;
}

.navbar .nav > li > a:visited {
  color: $color_navigation_link;
}

.round {
  -moz-border-radius:     1em;
  -webkit-border-radius:  1em;
  border-radius:          1em;
}

.currency {
  text-align: right;
}
