$green:         #aaeecc;
$orange:        #eaaa33;
$red:           #ffaaaa;
$blue:          #0066aa;
$colored_back:  #fcfaf9;

$admin_back:              $colored_back;
$link_color:              $blue;
$color_background_alert:  $red;
$color_background_notice: $green;
$color_navigation_link:   $orange;
